DJANGO_SECRET_KEY=change-this-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=true
CORS_ALLOWED_ORIGINS=

# Preferred in production (Render/railway style)
DATABASE_URL=
DATABASE_SSL_REQUIRE=true

# Optional PostgreSQL config (if empty, sqlite is used)
POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
